canvas {
  margin:auto;
  z-index: 1;
}

body {
  margin: 0;
}

#interface {
  z-index: 2;
}

#login_menu {
  position:   absolute;
  display:    block;
  left:       0px;
  right:      0px;
  width:      300px;
  background: #1B1B1B;
  color:      white;
  margin:     auto;
  margin-top: 300px;
  padding:    20px;
}

#signup_menu {
  position:   absolute;
  display:    block;
  left:       0px;
  right:      0px;
  width:      300px;
  background: #1B1B1B;
  color:      white;
  margin:     auto;
  margin-top: 300px;
  padding:    20px;
}

#username_input {
  width:      100%;
}

#password_input {
  width:      100%;
}

#shade {
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  background: rgba(0,0,0,0.8);
  z-index: 3;
}

#error_modal {
  position:   absolute;
  display:    block;
  left:       0px;
  right:      0px;
  background: #1B1B1B;
  color:      white;
  margin:     auto;
  margin-top: 300px;
  padding:    30px;
  z-index:4;
}

#create_character_modal {
  position:   absolute;
  display:    block;
  left:       0px;
  right:      0px;
  background: #1B1B1B;
  color:      white;
  margin:     auto;
  margin-top: 300px;
  padding:    30px;
  z-index:4;
}

#character_select_menu {
  position:   absolute;
  display:    block;
  left:       0px;
  width:      300px;
  background: #1B1B1B;
  color:      white;
  margin-top: 20px;
  margin-left: 20px;
  padding:    20px;
}

.button {
  display:inline-block;
  padding:10px;
  background:white;
  color:black;
}

.character-select-item {
  width: 100%;
  padding: 10px;
  background: grey;
  margin-bottom:10px;
}